
.footer {
    background-color: #e0d4d4;
    background: black;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .social-links img {
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    margin: 0 10px;
    transition: transform 0.3s ease;
  }
  
  .social-links img:hover {
    transform: scale(1.2); /* Zoom effect on hover */
  }
  